<h1>My Cart</h1>

<div>
  <% if @cart_order_products.any? %>
    <% @cart_order_products.each do |order_product| %>
      <li>
        <%= link_to order_product.product.name, product_path(order_product.product) %> -
          <%= form_for(order_product, remote: true) do |f| %>
            <%= f.hidden_field :order_id, value: order_product.order.id %>
            <%= f.hidden_field :product_id, value: order_product.product.id %>
            <%= "Price: #{order_product.product.price}"%>
            <%= f.text_field :quantity, value: order_product.quantity.to_i, min: 1 %>
            <div>
              <%= f.submit "Update Quantity", class: 'btn btn-primary btn-sm'%>
              <%= link_to "Delete", order_product, method: :delete, remote: true%>
            </div>
            <span> Total Price: <%= @cart_total %></span>
          <% end %>

      </li>
    <% end %>
        <%= link_to "Checkout", checkout_form_path%>
    <% else %>
    <p>Your cart is empty!</p>
  <% end %>
</div>
