<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>

  <div>
    <div>
      <h3><%= "#{@category.name} has #{@category.products.count} products" %></h3>
      <div>
          <ul>
              <% @category.products.each do |product| %>
                  <li><%= link_to product.name, product %></li>
              <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
