<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

  <div>
    <div>
      <%= form_tag products_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Product Name" %>
      <%= select_tag :category_id, options_from_collection_for_select(
          @categories, :id, :name, params[:category_id]), :include_blank => "All Categories"%>
      <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>

<h1>Products</h1>

<div id="products">
  <ol>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product %> -
          <%= form_for(@order_product, remote: true) do |f| %>
          <%= f.hidden_field :order_id, value: @order.id %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= "Price: #{product.price}"%>
          <%= f.text_field :quantity, value: 1, min: 1 %>
          <%= f.submit "Add to Cart"%>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>

<div>
  <%= paginate @products %>
</div>
