<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Butter & Batter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <% if current_customer %>
        <h2>You're logged in!</h2>
      <% else %>
        <h2>Not logged in.</h2>
      <% end %>
    </header>
    <%= yield %>
    <%= button_to "Log out", destroy_customer_session_path, method: :delete%>
  </body>
</html>
